certificate_generantion_googlemeets/certificate generation.json
{
  "name": "certificate generation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        -32
      ],
      "id": "3d9b3e3b-db9f-49dc-b261-8cb658a1b3b1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mQHG5QBCiP8RNgImP_CKljqsSMdwiD4ebsLNu35Pdyg",
          "mode": "list",
          "cachedResultName": "meeting data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mQHG5QBCiP8RNgImP_CKljqsSMdwiD4ebsLNu35Pdyg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1459330461,
          "mode": "list",
          "cachedResultName": "meeting_8-18-2025_7-41-13 PM_osd-tbcm-rti",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mQHG5QBCiP8RNgImP_CKljqsSMdwiD4ebsLNu35Pdyg/edit#gid=1459330461"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        -144
      ],
      "id": "56f654d6-3515-4de7-939e-20250f330ae4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Avt99L77GQfnAN4Z",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MSmJ5SOYp15NUNAtnvrJR_kJrVwMJt5wUYssI9fXZw4",
          "mode": "list",
          "cachedResultName": "event registration form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MSmJ5SOYp15NUNAtnvrJR_kJrVwMJt5wUYssI9fXZw4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1629371579,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MSmJ5SOYp15NUNAtnvrJR_kJrVwMJt5wUYssI9fXZw4/edit#gid=1629371579"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        80
      ],
      "id": "9987f685-c5d3-4525-a50d-eecb7555a778",
      "name": "Get row(s) in sheet1",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Avt99L77GQfnAN4Z",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "Email address",
              "field2": "Email address"
            }
          ]
        },
        "resolve": "preferInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        528,
        -64
      ],
      "id": "760ecd4a-3b40-4aa0-8ad9-3ccf7307ffb7",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Name: {{ $('Get row(s) in sheet').item.json['Full Name'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Create a certificate for {{ $json['Full Name'] }} attending meeting .\nOutput as a PDF/image with a professional look. \n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        816,
        -16
      ],
      "id": "f0a54631-cd54-4268-b607-410641cc2ff4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        736,
        208
      ],
      "id": "8705c663-592f-43af-8e66-dee1573cb91f",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "UVEm8704zah1HiTV",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const name = $('Get row(s) in sheet').item.json['Full Name'] || \"Participant Name\";\nconst date = $('Get row(s) in sheet').item.json['First Seen'] || \"19 August 2025\";\n\nconst html = `\n<!doctype html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <style>\n    @page { size: A4; margin: 0; }\n    body {\n      margin: 0;\n      padding: 0;\n      font-family: \"Georgia\", serif;\n      background: #f9f9f9;\n    }\n    .certificate {\n      width: 210mm;\n      height: 297mm;\n      padding: 40px;\n      background: #fff;\n      border: 12px solid #2c3e50;\n      outline: 6px solid #e67e22;\n      box-sizing: border-box;\n      text-align: center;\n      position: relative;\n    }\n    .certificate h1 {\n      font-size: 42px;\n      margin: 20px 0 10px;\n      color: #2c3e50;\n      text-transform: uppercase;\n      letter-spacing: 2px;\n    }\n    .certificate h2 {\n      font-size: 32px;\n      margin: 20px 0;\n      color: #e67e22;\n    }\n    .certificate p {\n      font-size: 20px;\n      color: #34495e;\n      margin: 8px 0;\n    }\n    .certificate .recipient {\n      font-size: 30px;\n      font-weight: bold;\n      margin: 20px 0;\n      color: #16a085;\n    }\n    .certificate .footer {\n      position: absolute;\n      bottom: 50px;\n      left: 0;\n      right: 0;\n      display: flex;\n      justify-content: space-around;\n      font-size: 18px;\n      color: #555;\n    }\n    .certificate .footer div {\n      border-top: 2px solid #2c3e50;\n      width: 200px;\n      text-align: center;\n      padding-top: 5px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"certificate\">\n    <h1>Certificate of Achievement</h1>\n    <p>This certificate is proudly presented to</p>\n    <div class=\"recipient\">${name}</div>\n    <p>For successfully participating on</p>\n    <p><strong>Date:</strong> ${date}</p>\n    <div class=\"footer\">\n      <div>Authorized Signature</div>\n      <div>Seal / Stamp</div>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn { htmlContent: html };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -16
      ],
      "id": "de2f623c-b977-4858-be1d-6e08fecf2d48",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/convert/from/html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "dineshvardhan654@gmail.com_LG2IvUKbXp1qeo3PJbKRS4Uq0cN3ptykjJFlXBhhw8TrR4OtUVLjtf64YqsBbUxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "html",
              "value": "={{ $json.htmlContent }}"
            },
            {
              "name": "async",
              "value": "false"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        -16
      ],
      "id": "00e16f1c-4e42-451a-8a5d-38cff63b69b0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json['Email address'] }}",
        "subject": "Ur data science class certificate",
        "message": "=here is ur certificate on complection of the data science course {{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1680,
        -16
      ],
      "id": "c51a100a-b0b3-4d6d-b0c3-850be59d86b3",
      "name": "Send a message",
      "webhookId": "4bcfbb1d-075b-4a43-b15b-f7a31ab30bbc",
      "credentials": {
        "gmailOAuth2": {
          "id": "vocMuBD2dCs5kI3V",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7684a855-7034-48df-b300-f222f8c7fedd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "826bf7f5a0fea4a4df4c713a8814821f990b5e38f50a13d789ff8a308bf7fe80"
  },
  "id": "W1fBcX2PckbSITBs",
  "tags": []
}